h1{

    color:aquamarine ;
    font-size: 1.6rem;
    background-color: rgb(40, 39, 41);
}

h2 {
        
    color:rgb(4, 175, 118);
    font-size: 1.4rem;

}

h3 {

    color: #84e603;
    font-size: 1.2rem;
}

h4{
    font-size: 1.0rem;
}

html {

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 2.5ex;
}

a:visited {
    color: green;
}

a:link {
    color: green;
}